<h3>资源管理</h3>
<div class="container-fluid">
  <h4 class=" clearfix">
    <div class="pull-left">
      <button type="button" class="btn btn-warning" ng-click="add()">新增</button> <button type="button" class="btn btn-info" ng-click="goList()">返回</button>
    </div>
    <div class="pull-right">
      <div class="search" style="right:200px;">
        <div class="input-group">
          <input type="text" ng-model="name" class="form-control"  placeholder="请输入资源名称">
          <div class="input-group-addon" ng-click="onSelectPage(1)"> <em class="fa fa-search"></em>
          </div>
        </div>
      </div>
    </div>
  </h4>
  <div kd-loading="loading" kd-loading-options="{text: '加载中...'}">
    <div id="uigrid-demo" ui-grid="gridOptions" ui-grid-pagination ui-grid-auto-resize ui-grid-resize-columns elheightresize  class="table-uigrid"></div>
  </div>
</div>