<h3>修改功能模块</h3>
<!-- START panel-->
<div class="panel panel-default">
   <div class="panel-heading">功能模块</div>
   <div class="panel-body">
      <form class="form-horizontal w5c-form" name="functionModuleForm" w5c-form-validate="validateOptions" novalidate>

         <div class="form-group">
            <label class="col-sm-2 control-label">模块名称</label>
            <div class="col-sm-10">
               <input type="text" name="appName" ng-model="functionModule.name" class="form-control"  required/>
            </div>
         </div>

         <div class="form-group">
            <label class="col-sm-2 control-label">模块CODE</label>
            <div class="col-sm-10">
               <input type="text" name="appUrl" ng-model="functionModule.code" class="form-control"  required/>
            </div>
         </div>

         <div class="clearfix">
            <div class="pull-right">
               <button class="btn btn-warning" w5c-form-submit="save()" >保存</button>
               <button class="btn btn-default" ng-click="goList()">取消</button>
            </div>
         </div>

      </form>
   </div>
</div>
<!-- END panel-->